In [21]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [22]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City,Lat,Lng,Max Temp ºC,Min Temp ºC,Humidity (%),Unnamed: 6
0,Tokyo,35.6895,139.6917,30,20,65,NaN
1,New York City,40.7128,-74.0060,38,28,60,NaN
2,São Paulo,-23.5505,-46.6333,28,20,70,NaN
3,Mexico City,19.4326,-99.1332,25,15,75,NaN
4,Mumbai,19.0760,72.8777,32,25,80,NaN

In [23]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp ºC"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [26]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp ºC"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [27]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity (%)"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))